* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4C585B;
    text-align: center;
}


.msg-container {
    height: 100px;
    /* background-color: red; */
    margin-top: 30px;

}
.new-btn {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: peachpuff;
    cursor: pointer;
}

.msg {
    color: #FF9D23;
    font-size: 25px;
}

.hide {
    display: none;
}

main h3 {
    margin-top: 30px;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* margin-top: 100px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    /* background-color: red;    */
    height: 300px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

.box {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: none;
    color: red;
    font-size: 8vmin;
    background-color: black;
    cursor: pointer;
}

.reset-btn button {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: peachpuff;
    /* margin-top: 20px; */
    cursor: pointer;
    /* color: blue; */
}



