* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("image1.avif");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    
}

.body-back {
    background-color: rgba(0, 0, 0, 0.639);
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}


.msg-container {
    height: 100px;
    padding-top: 20px;
}

.new-btn {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: peachpuff;
    cursor: pointer;
}

.msg {
    color: #FF9D23;
    font-size: 25px;
}

.hide {
    display: none;
}   

.body-back h3 {
    color: white;
   padding-top: 100px;
   
}

.container {
    /* position: relative; */
    height: 300px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    /* background-color: red;    */
    height: 280px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.box {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 255, 42);
    font-size: 8vmin;
    background-color: black;
    cursor: pointer; 
    box-shadow: 0px 0px 10px 1px white;
}

.reset-btn button {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: peachpuff;
    cursor: pointer;
}
.reset-btn p {
    color: white;
}

.developer-name {
    color: white;
    font-weight: 600;
    font-style: inherit;
    font-size: 15px;
    padding-top: 40px;
}